<%- include("header") -%>

<main class="px-3">
  <h1>Javier Alvarez</h1>
  <p class="lead">Your average programming Jack-of-all-trades</p>
  <button class="btn btn-primary" type="button" name="button">Meet me!</button>
</main>

<%- include("footer") -%>
